<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Limei Demand Side Platform - 中国第一家专业移动DSP</title>
		<!-- desktop -->
		<link rel="stylesheet" href="../../common_assets/css/bootstrap.css" />
		<link rel="stylesheet" href="style.css" />
	</head>

	<body>
		<a href="#customrize-modal" role="button" class="btn" data-toggle="modal">弹出窗口</a>
	    <div id="customrize-modal" class="customrize-modal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-header">
			    <h3>自定义范围</h3>
		    </div>
		    <div class="modal-sub-header">请在下面选择广告系列、广告组或创意</div>
		    <div class="modal-body">
		    	
				<div>
					<ul class="list-level2">
				            <li>
				                <a class="arrow-btn"></a><a href="#">万科dsfdfdsfds</a>
				            </li>
				            <li>
				                <a class="arrow-btn loading"></a><a href="#">万科深圳</a>
				                <ul class="ad-group-list">
				                    <li>
				                        <a class="arrow-btn opened"></a><a href="#">万科红三期iOS</a>
				                        <ul class="creative-list">
						                    <li>
						                        <a class="selected" href="#">万科2012</a>
						                    </li>
						                    <li>
						                        <a href="#">万科2012</a>
						                    </li>
						                </ul>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科红三期Android</a>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科溪之谷通投</a>
				                    </li>
				                </ul>
				            </li>
				            
				            <li>
				                <a class="arrow-btn loading"></a><a href="#">万科深圳</a>
				                <ul class="ad-group-list">
				                    <li>
				                        <a class="arrow-btn opened"></a><a href="#">万科红三期iOS</a>
				                        <ul class="creative-list">
						                    <li>
						                        <a href="#">万科2012</a>
						                    </li>
						                    <li>
						                        <a href="#">万科2012</a>
						                    </li>
						                </ul>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科红三期Android</a>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科溪之谷通投</a>
				                    </li>
				                </ul>
				            </li>
				            <li>
				                <a class="arrow-btn loading"></a><a href="#">万科深圳</a>
				                <ul class="ad-group-list">
				                    <li>
				                        <a class="arrow-btn opened"></a><a href="#">万科红三期iOS</a>
				                        <ul class="creative-list">
						                    <li>
						                        <a href="#">万科2012</a>
						                    </li>
						                    <li>
						                        <a href="#">万科2012</a>
						                    </li>
						                </ul>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科红三期Android</a>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科溪之谷通投</a>
				                    </li>
				                </ul>
				            </li>
				           
				            <li>
				                <a class="arrow-btn opened"></a><a href="#">万科上海</a>
				                <ul>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科尚源优酷视频</a>
				                    </li>
				                </ul>
				            </li>
				            <li>
				                <a class="arrow-btn"></a><a href="#">万科2012</a>
				            </li>
				             <li>
				                <a class="arrow-btn loading"></a><a href="#">万科深圳</a>
				                <ul class="ad-group-list">
				                    <li>
				                        <a class="arrow-btn opened"></a><a href="#">万科红三期iOS</a>
				                        <ul class="creative-list">
						                    <li>
						                        <a href="#">万科2012</a>
						                    </li>
						                    <li>
						                        <a href="#">万科2012</a>
						                    </li>
						                </ul>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科红三期Android</a>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><a href="#">万科溪之谷通投</a>
				                    </li>
				                </ul>
				            </li>
				            
				        </ul>
				</div>
				
		    </div>
	    <script type="text/javascript" src="../../common_assets/js/lib/jquery.1.10.1.min.js"></script>
	    <script type="text/javascript" src="../../common_assets/js/lib/bootstrap.js"></script>
	    <script>
	    $(function(){
	    	$(".btn").click(function(){
	    		$("#mymodal").modal("show"); 
	    	})
	    }) 
	    </script>
	</body>
</html>