<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Limei Demand Side Platform - 中国第一家专业移动DSP</title>
		<!-- desktop -->
		<link rel="stylesheet" href="../../common_assets/css/bootstrap.css" />
		<link rel="stylesheet" href="style.css" />
	</head>

	<body>
		<a href="#myModal" role="button" class="btn" data-toggle="modal">弹出窗口</a>
	    <div  class="two-column-relations modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3>人群定向设定</h3>
		    </div>
		    <div class="modal-sub-header">操作提示：拖拽至蓝色区域表示属性与属性之间为“或”的关系；拖拽至绿色区域为“且”的关系。</div>
		    <div class="modal-body">
				<div>
					<div class="tabbable"> <!-- Only required for left/right tabs -->
					    <ul class="nav nav-tabs" id="diagram-tab">
						    <li class="active"><a href="#tab1"  class="price" data-toggle="tab">人口属性</a></li>
						    <li><a href="#tab2" class="shows" data-toggle="tab">个人关注</a></li>
						    <li><a href="#tab3"  class="hits" data-toggle="tab">购买倾向</a></li>
					    </ul>
					    <div class="tab-content">
						    <div class="tab-pane active" id="tab1">
						    	<ul class="list-level2">
						            <li>
						                <a class="arrow-btn loading"></a><a href="#">性别</a>
						                <ul class="ad-group-list">
						                    <li>
						                        <a class="arrow-btn opened"></a><a href="#">男性</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">女性</a>
						                    </li>
						                </ul>
						            </li>
						            <li>
						                <a class="arrow-btn loading"></a><a href="#">年龄</a>
						                <ul class="ad-group-list">
						                    <li>
						                        <a class="arrow-btn opened"></a><a href="#">18岁以下</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">18~24岁</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">25~29岁</a>
						                    </li>
						                </ul>
						            </li>
						              <li>
						                <a class="arrow-btn loading"></a><a href="#">性别</a>
						                <ul class="ad-group-list">
						                    <li>
						                        <a class="arrow-btn opened"></a><a href="#">男性</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">女性</a>
						                    </li>
						                </ul>
						            </li>
						            <li>
						                <a class="arrow-btn loading"></a><a href="#">年龄</a>
						                <ul class="ad-group-list">
						                    <li>
						                        <a class="arrow-btn opened"></a><a href="#">18岁以下</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">18~24岁</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">25~29岁</a>
						                    </li>
						                </ul>
						            </li>
						              <li>
						                <a class="arrow-btn loading"></a><a href="#">性别</a>
						                <ul class="ad-group-list">
						                    <li>
						                        <a class="arrow-btn opened"></a><a href="#">男性</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">女性</a>
						                    </li>
						                </ul>
						            </li>
						            <li>
						                <a class="arrow-btn loading"></a><a href="#">年龄</a>
						                <ul class="ad-group-list">
						                    <li>
						                        <a class="arrow-btn opened"></a><a href="#">18岁以下</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">18~24岁</a>
						                    </li>
						                    <li>
						                        <a class="arrow-btn"></a><a href="#">25~29岁</a>
						                    </li>
						                </ul>
						            </li>
						        </ul>
						    </div>
					    	<div class="tab-pane" id="tab2">
					    		<p>Howdy, I'm in Section 2.</p>
					    	</div>
					    	<div class="tab-pane" id="tab3">
					    		<p>Howdy, I'm in Section 4.</p>
					    	</div>
					    	<div class="tab-pane" id="tab4">
					    		<p>Howdy, I'm in Section 3.</p>
					    	</div>
					    </div>
				   	</div>
				</div>
				<!--right part-->
				<div class="right-part">
					<div class="sum-num">符合以下条件的约有<span>34,119,048</span>人</div>
					<ul>
						<li class="condition clearfix">
							<ul>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
							</ul>
							<div>或</div>
						</li>
						<li>并且符合以下条件</li>
						<li class="condition clearfix">
							<ul>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
							</ul>
							<div>或</div>
						</li>
						<li>并且符合以下条件</li>
						<li class="condition clearfix">
							<ul>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
								<li>人口属性/性别/男性<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
							</ul>
							<div>或</div>
						</li>
					</ul>
				</div>
		    </div>
		    <div class="modal-footer">
			    <a href="#" class="btn btn-primary">确定</a>
			    <a href="#" class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">取消</a>
		    </div>
	    </div>
	    <script type="text/javascript" src="../../common_assets/js/lib/jquery.1.10.1.min.js"></script>
	    <script type="text/javascript" src="../../common_assets/js/lib/bootstrap.js"></script>
	    <script>
	    $(function(){
	    	$(".btn").click(function(){
	    		$(".two-column-relations").modal("show"); 
	    	})
	    }) 
	    </script>
	</body>
</html>