<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Limei Demand Side Platform - 中国第一家专业移动DSP</title>
		<!-- desktop -->
		<link rel="stylesheet" href="../../common_assets/css/bootstrap.css" />
		<link rel="stylesheet" href="style.css" />
	</head>

	<body>
		<a href="#myModal" role="button" class="btn" data-toggle="modal">弹出窗口</a>
	    <div id="myModal" class="two-column modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-header">
			    <h3>请在下面选择创意</h3>
		    </div>
		    <div class="modal-sub-header clearfix">
		    	<div><a href="#">全选</a>请选择</div>
		    	<div><a href="#">清空</a>已选择的</div>
		    </div>
		    <div class="modal-body">
				<div>
					<div class="search">
						<i class="icon-search"></i>
						<input type="text" placeholder="" />
					</div>
					
					<ul class="list-level2">
				            <li>
				                <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科dsfdfdsfds</a>
				            </li>
				            <li>
				                <a class="arrow-btn loading"></a><input type="checkbox" /><a href="#">万科深圳</a>
				                <ul class="ad-group-list">
				                    <li>
				                        <a class="arrow-btn opened"></a><input type="checkbox" checked/><a class="selected" href="#">万科红三期iOS</a>
				                        <ul class="creative-list">
						                    <li>
						                        <input type="checkbox" /><a href="#">万科2012</a>
						                    </li>
						                    <li>
						                        <input type="checkbox" /><a href="#">万科2012</a>
						                    </li>
						                </ul>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科红三期Android</a>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科溪之谷通投</a>
				                    </li>
				                </ul>
				            </li>
				            
				            <li>
				                <a class="arrow-btn loading"></a><input type="checkbox" /><a href="#">万科深圳</a>
				                <ul class="ad-group-list">
				                    <li>
				                        <a class="arrow-btn opened"></a><input type="checkbox" /><a href="#">万科红三期iOS</a>
				                        <ul class="creative-list">
						                    <li>
						                        <input type="checkbox" /><a href="#">万科2012</a>
						                    </li>
						                    <li>
						                        <input type="checkbox" /><a href="#">万科2012</a>
						                    </li>
						                </ul>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科红三期Android</a>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科溪之谷通投</a>
				                    </li>
				                </ul>
				            </li>
				            <li>
				                <a class="arrow-btn loading"></a><input type="checkbox" /><a href="#">万科深圳</a>
				                <ul class="ad-group-list">
				                    <li>
				                        <a class="arrow-btn opened"></a><input type="checkbox" /><a href="#">万科红三期iOS</a>
				                        <ul class="creative-list">
						                    <li>
						                        <input type="checkbox" /><a href="#">万科2012</a>
						                    </li>
						                    <li>
						                        <input type="checkbox" /><a href="#">万科2012</a>
						                    </li>
						                </ul>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科红三期Android</a>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科溪之谷通投</a>
				                    </li>
				                </ul>
				            </li>
				           
				            <li>
				                <a class="arrow-btn opened"></a><input type="checkbox" /><a href="#">万科上海</a>
				                <ul>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科尚源优酷视频</a>
				                    </li>
				                </ul>
				            </li>
				            <li>
				                <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科2012</a>
				            </li>
				             <li>
				                <a class="arrow-btn loading"></a><input type="checkbox" /><a href="#">万科深圳</a>
				                <ul class="ad-group-list">
				                    <li>
				                        <a class="arrow-btn opened"></a><input type="checkbox" /><a href="#">万科红三期iOS</a>
				                        <ul class="creative-list">
						                    <li>
						                        <input type="checkbox" /><a href="#">万科2012</a>
						                    </li>
						                    <li>
						                        <input type="checkbox" /><a href="#">万科2012</a>
						                    </li>
						                </ul>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科红三期Android</a>
				                    </li>
				                    <li>
				                        <a class="arrow-btn"></a><input type="checkbox" /><a href="#">万科溪之谷通投</a>
				                    </li>
				                </ul>
				            </li>
				            
				        </ul>
				</div>
				<div>
					<ul class="selected-creative-list">
						<li>素材1<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
						<li>素材1<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
						<li>素材1<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
						<li>素材1<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></li>
						
					</ul>
				</div>
		    </div>
		    <div class="modal-footer">
			    <a href="#" class="btn btn-primary">确定</a>
			    <a href="#" class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">取消</a>
		    </div>
	    </div>
	    <script type="text/javascript" src="../../common_assets/js/lib/jquery.1.10.1.min.js"></script>
	    <script type="text/javascript" src="../../common_assets/js/lib/bootstrap.js"></script>
	    <script>
	    $(function(){
	    	$(".btn").click(function(){
	    		$("#mymodal").modal("show"); 
	    	})
	    }) 
	    </script>
	</body>
</html>