#header .title {
	min-width: 481px;
}
.tel_sec{
	display:none;
}
@media screen and (max-width: 930px) {
	.login-inner-container{ 
		width:100%;
	}
	.login-banner{
		float: none;
		margin:0 auto;
	}
  	.login{
		width:100%;
		height:auto;
		float:none;
		margin-right:0;
		margin-top:66px;
		background-color:#EFEFF1;
	    padding: 70px 0 10px 0;
	    
	    text-align: center;
	    background-position:50% top;
	}
	.login_form{
		width:300px;
		margin:0px auto;
	}
}
@media screen and (max-width: 650px) {
  .intro1,.intro2,.intro3,.customer-list{
	  display:none;
  }
  .tel_sec{
	  display:block;
  }
}
@media screen and (max-width:520px) {
	.login-container{
		background:none;
		padding-top:70px;
	}
	.login{
		margin-top:0px;
	}
	.login-banner{
	    display:none;
	}
	.tel-login-banner{
		display:block;
	}
}