
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="Keywords" content="楼下100, 精品下午茶,上海甜品,上海蛋糕,企业茶歇,上海甜品外卖" />
		<meta name="Description" content="楼下100甜品网－上海最大的甜品网上商城，在线预定超过30种甜品品牌，上千余种甜品、蛋糕、干点、饼干等产品。新鲜直送，准时可靠。企业茶歇更可享受专业定制服务。" />
		<meta name="baidu-site-verification" content="qWynNxo93B" />
		<title>楼下100-精品下午茶</title>
		<!--css-->
		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />  
		<!-- <link href="../data/css/bootstrap3.2.css" rel="stylesheet" type="text/css" media="all" /> -->     
        <link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- Le fav and touch icons -->
		<link rel="apple-touch-icon" sizes="57x57" href="touch-icon-iphone.png" />  
	    <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />  
	    <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone4.png" />    
	    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-ipad3-144.png" />  
		<link href="favicon.ico" rel="shortcut icon" />  
    	<link href="favicon.ico" rel="Bookmark" />  


	</head>

	<body>
		

<div class="content">
	<div>
		<ul>
			<li><a href="#">手机客户端</a></li>
			<li>|</li>
			<li>团队茶歇</li>
		</ul>
		<ul>
			<li>您好，欢饮来到楼下100！</li>
			<li><a href="#">[登录]</a></li>
			<li><a href="#">[登录]</a></li>
			<li>|</li>
			<li><a href="#">收藏夹</a></li>
			<li><a href="#">购物车</a></li>
			<li>|</li>
			<li><a href="#">收藏我们</a></li>
		</ul>
		</div>
	
	<!--header-->
	<div class="header clearfix">
			<div class="logo left"><img src="../data/image/logo.png"/></div>
			<div class="search-bar right">
				<i></i>
				<input type="text" placeholder="搜索"/>
			</div>
	</div>
	
	<!--nav-->
	<div class="nav">
		<ul class="clearfix">
			<li class="afternoon"><a href="dashboard.html">午后茶点</a></li>
			<li class="meeting"><a href="dashboard.html">聚会合享</a></li>
			<li class="instant"><a href="dashboard.html">极速良品</a></li>
			<li class="range"><a href="dashboard.html">配送范围</a></li>
			<li class="company"><a href="dashboard.html">团队茶歇</a></li>
		</ul>
	</div>
	<!--slider-->
	<!--3 pages-->
	<!--返回-->
	<!--title-->
	<div class="title miaosha">
		<i></i><a href="">下期闪购</a>
	</div>
	<div class="title instant">
		<i></i><a href="">更多</a>
	</div>
	<div class="title new">
		<i></i><a href="">更多</a>
	</div>
	<div class="title best-choice">
		<i></i><a href="">更多</a>
	</div>
	<div class="title partner">
		<i></i><a href="">更多</a>
	</div>
	<!--list-->
	<div class="goods-list">
    	<ul>
            <li>         
            	<div class="pic"> 
        			<img src="../image/jisu.png" class="jisu"> 
           			<a href="#">
          				<img src="../image/tmp_cake.png" height="260" width="260">
          			</a> 
          		</div>
        		<div class="info">
          			<p class="text-hidden">卡仕达纸杯卡仕达纸杯卡仕达纸杯卡仕达蛋糕卡仕达纸杯</p>
          			<p class="brand text-hidden">【片片良品】</p>
          			<span class="price"><i></i>30.00</span>           
          			<a class="buy" href="javascript:void(0);" onclick="" title="购买"></a>
          		</div>
      		</li>
      		<li>         
            	<div class="pic"> 
        			<img src="../image/jisu.png" class="jisu"> 
           			<a href="#">
          				<img src="../image/tmp_cake.png" height="260" width="260">
          			</a> 
          		</div>
        		<div class="info">
          			<p class="text-hidden">卡仕达纸杯卡仕达纸杯卡仕达纸杯卡仕达蛋糕卡仕达纸杯</p>
          			<p class="brand text-hidden">【片片良品】</p>
          			<span class="price"><i></i>30.00</span>           
          			<a class="buy" href="javascript:void(0);" onclick="" title="购买"></a>
          		</div>
      		</li>
      		<li>         
            	<div class="pic"> 
        			<img src="../image/jisu.png" class="jisu"> 
           			<a href="#">
          				<img src="../image/tmp_cake.png" height="260" width="260">
          			</a> 
          		</div>
        		<div class="info">
          			<p class="text-hidden">卡仕达纸杯卡仕达纸杯卡仕达纸杯卡仕达蛋糕卡仕达纸杯</p>
          			<p class="brand text-hidden">【片片良品】</p>
          			<span class="price"><i></i>30.00</span>           
          			<a class="buy" href="javascript:void(0);" onclick="" title="购买"></a>
          		</div>
      		</li>
      		<li>         
            	<div class="pic"> 
        			<img src="../image/jisu.png" class="jisu"> 
           			<a href="#">
          				<img src="../image/tmp_cake.png" height="260" width="260">
          			</a> 
          		</div>
        		<div class="info">
          			<p class="text-hidden">卡仕达纸杯卡仕达纸杯卡仕达纸杯卡仕达蛋糕卡仕达纸杯</p>
          			<p class="brand text-hidden">【片片良品】</p>
          			<span class="price"><i></i>30.00</span>           
          			<a class="buy" href="javascript:void(0);" onclick="" title="购买"></a>
          		</div>
      		</li>
      		<li>         
            	<div class="pic"> 
        			<img src="../image/jisu.png" class="jisu"> 
           			<a href="#">
          				<img src="../image/tmp_cake.png" height="260" width="260">
          			</a> 
          		</div>
        		<div class="info">
          			<p class="text-hidden">卡仕达纸杯卡仕达纸杯卡仕达纸杯卡仕达蛋糕卡仕达纸杯</p>
          			<p class="brand text-hidden">【片片良品】</p>
          			<span class="price"><i></i>30.00</span>           
          			<a class="buy" href="javascript:void(0);" onclick="" title="购买"></a>
          		</div>
      		</li>
      		<li>         
            	<div class="pic"> 
        			<img src="../image/jisu.png" class="jisu"> 
           			<a href="#">
          				<img src="../image/tmp_cake.png" height="260" width="260">
          			</a> 
          		</div>
        		<div class="info">
          			<p class="text-hidden">卡仕达纸杯卡仕达纸杯卡仕达纸杯卡仕达蛋糕卡仕达纸杯</p>
          			<p class="brand text-hidden">【片片良品】</p>
          			<span class="price"><i></i>30.00</span>           
          			<a class="buy" href="javascript:void(0);" onclick="" title="购买"></a>
          		</div>
      		</li>
      		<li>         
            	<div class="pic"> 
        			<img src="../image/jisu.png" class="jisu"> 
           			<a href="#">
          				<img src="../image/tmp_cake.png" height="260" width="260">
          			</a> 
          		</div>
        		<div class="info">
          			<p class="text-hidden">卡仕达纸杯卡仕达纸杯卡仕达纸杯卡仕达蛋糕卡仕达纸杯</p>
          			<p class="brand text-hidden">【片片良品】</p>
          			<span class="price"><i></i>30.00</span>           
          			<a class="buy" href="javascript:void(0);" onclick="" title="购买"></a>
          		</div>
      		</li>
      		<li>         
            	<div class="pic"> 
        			<img src="../image/jisu.png" class="jisu"> 
           			<a href="#">
          				<img src="../image/tmp_cake.png" height="260" width="260">
          			</a> 
          		</div>
        		<div class="info">
          			<p class="text-hidden">卡仕达纸杯卡仕达纸杯卡仕达纸杯卡仕达蛋糕卡仕达纸杯</p>
          			<p class="brand text-hidden">【片片良品】</p>
          			<span class="price"><i></i>30.00</span>           
          			<a class="buy" href="javascript:void(0);" onclick="" title="购买"></a>
          		</div>
      		</li>
         </ul>
  
	</div>
	<!--list-->
</div>



		<script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
	</body>
</html>