<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Limei Demand Side Platform - 中国第一家专业移动DSP</title>
		<!-- desktop -->
		<link rel="stylesheet" href="../../common_assets/css/bootstrap.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<div class="campaign-table">
			<div class="campaign-table-header">
				<button class="btn customrize add-adgroup btn-primary-customize"><i class="icon-plus icon-white"></i>新建广告组</button>
				
			    <div class="btn-group customrize">
				    <button class="btn customrize"><i class="icon-play"></i>开启</button>
				    <button class="btn customrize"><i class="icon-pause"></i>暂停</button>
				    <button class="btn customrize"><i class="icon-trash"></i>删除</button>
				</div>
				<button class="btn export right"><i class="icon-export"></i>导出</button>
			</div>
			
			<table class="campaign-table-body table table-striped customrize">
				<colgroup> 
					<col style="width:30px;"> 
					<col style="width:12%;"> 
					  
				</colgroup>
				<thead>
        			<tr id="th_list">
                		<th><input type="checkbox" id="adgroup_all"></th>
                    	<th>广告系列名称
                        <i class="icon-arrow-up icon-white" style="display:none;"></i>
                        <i class="icon-arrow-down icon-white" style="display:none;"></i>
                    </th>
                    <th>状态</th>
                    <th>开始日期
                    	<i class="icon-arrow-up icon-white" style="display:none;"></i>
                    	<i class="icon-arrow-down icon-white" style="display:none;"></i>
                    </th>
                    <th>结束日期
                        <i class="icon-arrow-up icon-white" style="display:none;"></i>
                        <i class="icon-arrow-down icon-white" style="display:none;"></i>
                        
                    </th>
                    <th class="number_row">总预算
                        <i class="icon-arrow-up icon-white" style="display:none;"></i>
                        <i class="icon-arrow-down icon-white" style="display:none;"></i>   
                    </th>
                    <th class="number_row">累计消耗
                        <i class="icon-arrow-up icon-white" style="display:none;"></i>
                        <i class="icon-arrow-down icon-white" style="display:none;"></i>
                        
                    </th>
                    <th class="number_row">展示数
                        <i class="icon-arrow-up icon-white" style="display:none;"></i>
                        <i class="icon-arrow-down icon-white" style="display:none;"></i>  
                    </th>
                    <th class="number_row">点击数
                        <i class="icon-arrow-up icon-white" style="display:none;"></i>
                        <i class="icon-arrow-down icon-white" style="display:none;"></i>
                        
                    </th>
                    <th class="number_row">点击率
                        <i class="icon-arrow-up icon-white" style="display:none;"></i>
                        <i class="icon-arrow-down icon-white" style="display:none;"></i>
                    </th>
                    <th class="number_row">eCPM
                        <i class="icon-arrow-up icon-white" style="display:none;"></i>
                        <i class="icon-arrow-down icon-white" style="display:none;"></i>
                    </th>
                    <th>操作</th>
            	</tr>
            </thead>
            <tbody>
            	<tr>
            		<td><input type="checkbox" id="adgroup_33" name="adgroup_item" data="33"></td>
            		<td><a href="/adgroup/list.html?campaign_id=33">fdasgfdsg</a></td>
            		<td>暂停</td>
            		<td>2013/09/04</td>
            		<td>&mdash;</td>
            		<td class="number_row">112342,233.00</td>
            		<td class="number_row">0.00</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0.00%</td>
            		<td class="number_row">0.00</td>
            		<td>
            			<a href="#" title="开启" class="btn btn-info">
            				<i class="icon-play icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="删除" class="btn btn-danger">
            				<i class="icon-trash icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="修改" class="btn btn-edit">
            				<i class="icon-edit icon-white"></i>
            			</a>
            		</td>
            	</tr> 
            	<tr>
            		<td><input type="checkbox" id="adgroup_33" name="adgroup_item" data="33"></td>
            		<td><a href="/adgroup/list.html?campaign_id=33">fdasgfdsg</a></td>
            		<td>暂停</td>
            		<td>2013/09/04</td>
            		<td>&mdash;</td>
            		<td class="number_row">112342,233.00</td>
            		<td class="number_row">0.00</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0.00%</td>
            		<td class="number_row">0.00</td>
            		<td>
            			<a href="#" title="开启" class="btn btn-info">
            				<i class="icon-play icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="删除" class="btn btn-danger">
            				<i class="icon-trash icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="修改" class="btn btn-edit">
            				<i class="icon-edit icon-white"></i>
            			</a>
            		</td>
            	</tr> 
            	<tr>
            		<td><input type="checkbox" id="adgroup_33" name="adgroup_item" data="33"></td>
            		<td><a href="/adgroup/list.html?campaign_id=33">fdasgfdsg</a></td>
            		<td>暂停</td>
            		<td>2013/09/04</td>
            		<td>&mdash;</td>
            		<td class="number_row">112342,233.00</td>
            		<td class="number_row">0.00</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0.00%</td>
            		<td class="number_row">0.00</td>
            		<td>
            			<a href="#" title="开启" class="btn btn-info">
            				<i class="icon-play icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="删除" class="btn btn-danger">
            				<i class="icon-trash icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="修改" class="btn btn-edit">
            				<i class="icon-edit icon-white"></i>
            			</a>
            		</td>
            	</tr> 
            	<tr>
            		<td><input type="checkbox" id="adgroup_33" name="adgroup_item" data="33"></td>
            		<td><a href="/adgroup/list.html?campaign_id=33">fdasgfdsg</a></td>
            		<td>暂停</td>
            		<td>2013/09/04</td>
            		<td>&mdash;</td>
            		<td class="number_row">112342,233.00</td>
            		<td class="number_row">0.00</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0.00%</td>
            		<td class="number_row">0.00</td>
            		<td>
            			<a href="#" title="开启" class="btn btn-info">
            				<i class="icon-play icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="删除" class="btn btn-danger">
            				<i class="icon-trash icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="修改" class="btn btn-edit">
            				<i class="icon-edit icon-white"></i>
            			</a>
            		</td>
            	</tr> 
            	<tr>
            		<td><input type="checkbox" id="adgroup_33" name="adgroup_item" data="33"></td>
            		<td><a href="/adgroup/list.html?campaign_id=33">fdasgfdsg</a></td>
            		<td>暂停</td>
            		<td>2013/09/04</td>
            		<td>&mdash;</td>
            		<td class="number_row">112342,233.00</td>
            		<td class="number_row">0.00</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0.00%</td>
            		<td class="number_row">0.00</td>
            		<td>
            			<a href="#" title="开启" class="btn btn-info">
            				<i class="icon-play icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="删除" class="btn btn-danger">
            				<i class="icon-trash icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="修改" class="btn btn-edit">
            				<i class="icon-edit icon-white"></i>
            			</a>
            		</td>
            	</tr> 
            	<tr>
            		<td><input type="checkbox" id="adgroup_33" name="adgroup_item" data="33"></td>
            		<td><a href="/adgroup/list.html?campaign_id=33">fdasgfdsg</a></td>
            		<td>暂停</td>
            		<td>2013/09/04</td>
            		<td>&mdash;</td>
            		<td class="number_row">112342,233.00</td>
            		<td class="number_row">0.00</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0.00%</td>
            		<td class="number_row">0.00</td>
            		<td>
            			<a href="#" title="开启" class="btn btn-info">
            				<i class="icon-play icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="删除" class="btn btn-danger">
            				<i class="icon-trash icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="修改" class="btn btn-edit">
            				<i class="icon-edit icon-white"></i>
            			</a>
            		</td>
            	</tr> 
            	<tr>
            		<td><input type="checkbox" id="adgroup_33" name="adgroup_item" data="33"></td>
            		<td><a href="/adgroup/list.html?campaign_id=33">fdasgfdsg</a></td>
            		<td>暂停</td>
            		<td>2013/09/04</td>
            		<td>&mdash;</td>
            		<td class="number_row">112342,233.00</td>
            		<td class="number_row">0.00</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0.00%</td>
            		<td class="number_row">0.00</td>
            		<td>
            			<a href="#" title="开启" class="btn btn-info">
            				<i class="icon-play icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="删除" class="btn btn-danger">
            				<i class="icon-trash icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="修改" class="btn btn-edit">
            				<i class="icon-edit icon-white"></i>
            			</a>
            		</td>
            	</tr> 
            	<tr>
            		<td><input type="checkbox" id="adgroup_33" name="adgroup_item" data="33"></td>
            		<td><a href="/adgroup/list.html?campaign_id=33">fdasgfdsg</a></td>
            		<td>暂停</td>
            		<td>2013/09/04</td>
            		<td>&mdash;</td>
            		<td class="number_row">112342,233.00</td>
            		<td class="number_row">0.00</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0</td>
            		<td class="number_row">0.00%</td>
            		<td class="number_row">0.00</td>
            		<td>
            			<a href="#" title="开启" class="btn btn-info">
            				<i class="icon-play icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="删除" class="btn btn-danger">
            				<i class="icon-trash icon-white"></i>
            			</a>
            			&nbsp;
            			<a href="#" title="修改" class="btn btn-edit">
            				<i class="icon-edit icon-white"></i>
            			</a>
            		</td>
            	</tr> 
            	
            </tbody>
		</table>
			
			<div class="campaign-table-footer clearfix">
				<div class="left illustrate">
					本页所示金额为未含税金额，不作为最终结算依据
				</div>
				 <div class="pagination  pagination-right right">
				    <ul>
					    <li class="disabled"><a href="#">&laquo;</a></li>
					    <li><a href="#">1</a></li>
					    <li class="selected"><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li><a href="#">&raquo;</a></li>
				    </ul>
				</div>
				<div class="btn-group  right">
	                 <button class="btn">10</button>
					 <button data-toggle="dropdown" class="btn dropdown-toggle">
						<span class="caret"></span>
					 </button>
	                 <ul class="dropdown-menu">
	                  <li class="csv"><a href="#">10</a></li>
	                  <li class="excel"><a href="#">20</a></li>
	                  <li class="excel"><a href="#">50</a></li>
	                </ul>
	             </div>
			</div>
		</div>	
	    <script type="text/javascript" src="../../common_assets/js/lib/jquery.1.10.1.min.js"></script>
	    <script type="text/javascript" src="../../common_assets/js/lib/bootstrap.js"></script>
	    <script>
	   
	    </script>
	</body>
</html>